/*Estilo para  efectos de inicio*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
html,body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
.scene {
  position: relative;
  height: 100%;
  background: #1d1f20;
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
h1 {
  position: relative;
  font-size: 15em;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  z-index: 10;
  text-align: center;
}
.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url(../img/background1.png) 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}
.check-out {
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  font-family: test;
}
  a{
    color:rgba(255,170,170,1);
  }

hr {
  background-color: salmon;
}
  /*Estilo para subtitulo que cambia*/
  #titleChange{
    color: salmon;
    font-size: 6em;
  }

  /*Estilo boton de entrada*/

  