/*Estilo para  efectos de inicio*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
html,body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/art-artist-blur-436775.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  
}
.scene {
  position: relative;
  height: 100%;
  background: radial-gradient(circle,#2f3030, #1d1f20, #1d1f20);
  padding-top: 12%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
#title {
  position: relative;
  font-size: 15em;
  font-family:'Pacifico', cursive;
  color: #fff;
  z-index: 10;
  text-align: center;
}
@media (max-width: 450px) {
  #title{
    padding-top: 1em;
    font-size: 10em;
  }
}


#title:hover{
  text-shadow: #1d1f20 0.1em 0.1em 0.2em
}

.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url(../img/background1.png) 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}
.check-out {
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  font-family: test;
}
  a{
    color:rgba(255,170,170,1);
  }

hr {
  background-color: #ca4370;
}
  /*Estilo para subtitulo que cambia*/
  #titleChange{
    color: #ca4370;
    font-size: 6em;
    font-weight: 800;
    font-family: 'Amatic SC', cursive;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
    text-align: center;
  }

  /*Estilo boton de entrada*/

  .fa-angle-double-down{
    color: white;
    cursor: pointer;
    font-size: 2em;
  }
  .fa-angle-double-down:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    color: white;
    -webkit-text-stroke: #ca4370 3px;
  }
   #conoceme{
     color: #ca4370;
     font-family: 'Amatic SC', cursive;
     font-size: 1.5em;
     font-weight:500;
     margin-top: 10rem;
   }

   #conoceme:hover{
    color: black;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
  }
   
   .info{
     display: none;
     
   }

   /*Estilos para menu*/

   #headerTop{
    width: 100%;
    background-color: rgba(153, 152, 153, 0.3);
    color: #1d1f20;
    height: 10em;
    padding:0;
    position: fixed;
  }

  .btnContact{
    float: right;
    margin-top: 0.3em;
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color:  rgba(255, 255, 255, 0.3); 
    margin-top: 0.4em;
    margin-right: 1em;
    cursor: pointer;
    color: white;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
  }

  .btnContact:hover{
    background-color:  rgba(255, 255, 255, 0.2); 
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  /*estilos para mostrar proyectos*/
  @import url(https://fonts.googleapis.com/css?family=Raleway);

.containerProjects{
  padding-top: 18em;
  text-align: center;
  overflow-y: auto;
}
.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* menu lateral*/
.menuLeft{
  margin-top: 1em;
}
.names {
  font-family:'Amatic SC', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-left: 1.5em;
  margin-top: 0.2em;
}

.aLeft {
  text-decoration: none;
}

#btn1 {
  margin-top: 100px;
}

#btn2 {
  margin-top: 180px;
}

#btn3 {
  margin-top: 260px;
}

#btn4 {
  margin-top: 340px;
}

div.button {
  background-color: rgba(153, 152, 153, 0.3);
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  width: 440px;
  height: 40px;
  position: fixed;
  left: -400px;
  transition: .7s ease;
}

div.button:hover {
  background-color: #ffffff;
  position: fixed;
  left: -50px;
  width: 200px;
  border-radius: 30px;
  
}

div.button:active {
  background-color: #2c3e50;
  transition: 0s;
  color: #ecf0f1;
}

.fa-smile-wink{
  float: right;
  color: white;
  margin-right: 0.3em;
  margin-top: 0.1em;
}
.fa-envelope{
  float: right;
  color: white;
  margin-right: 0.7em;
  margin-top: 0.3em;
  font-size: 0.8em;
}
.fa-book{
  float: right;
  color: white;
  margin-right: 0.7em;
  margin-top: 0.3em;
  font-size: 0.8em;
}

.fa-heart{
  float: right;
  color: white;
  margin-right: 0.3em;
  margin-top: 0.1em;
}