/*Estilo para  efectos de inicio*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
html,body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  background: #1d1f20;
}
.scene {
  position: relative;
  height: 100%;
  background: radial-gradient(circle,#2f3030, #1d1f20, #1d1f20);
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
#title {
  position: relative;
  font-size: 15em;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  z-index: 10;
  text-align: center;
}

#title:hover{
  text-shadow: #1d1f20 0.1em 0.1em 0.2em
}

.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url(../img/background1.png) 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}
.check-out {
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  font-family: test;
}
  a{
    color:rgba(255,170,170,1);
  }

hr {
  background-color: salmon;
}
  /*Estilo para subtitulo que cambia*/
  #titleChange{
    color: salmon;
    font-size: 6em;
    font-family: 'Amatic SC', cursive;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
    text-align: center;
  }

  /*Estilo boton de entrada*/

  .fa-angle-double-down{
    color: white;
    cursor: pointer;
    font-size: 2em;
  }
  .fa-angle-double-down:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    color: #1d1f20;
  }
   #conoceme{
     color: salmon;
     font-family: 'Amatic SC', cursive;
     font-size: 1.5em;
   }

   #conoceme:hover{
    color: black;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
  }
   
   .info{
     display: none;
   }